@import "./variables";
@import "./mixins";

.btn {
  padding: $btn-padding;
  background-color: $btn-bg-color;
  color: $btn-text-color;
  display: inline-block;
  @include box-sizing(border-box);
  text-decoration: none;
  border: solid 2px $btn-bg-color;
  @include border-radius(2px);

  &.btn-empty {
    background-color: transparent;
    color: $btn-bg-color;
  }

  &:hover {
    color: $btn-hover-text-color;
    background-color: $btn-hover-bg-color;
    border-color: $btn-hover-bg-color;
  }

  &.btn-black {
    color: $btn-black-text-color;
    background-color: $btn-black-bg-color;
    border-color: $btn-black-bg-color;

    &.btn-empty {
      background-color: transparent;
      color: $btn-black-bg-color;
    }

    &:hover {
      color: $btn-black-hover-text-color;
      background-color: $btn-black-hover-bg-color;
      border-color: $btn-black-hover-bg-color;
    }
  }

  &.btn-purple {
    color: $btn-purple-text-color;
    background-color: $btn-purple-bg-color;
    border-color: $btn-purple-bg-color;

    &.btn-empty {
      background-color: transparent;
      color: $btn-purple-bg-color;
    }

    &:hover {
      color: $btn-purple-hover-text-color;
      background-color: $btn-purple-hover-bg-color;
      border-color: $btn-purple-hover-bg-color;
    }
  }

  &.btn-orange {
    color: $btn-orange-text-color;
    background-color: $btn-orange-bg-color;
    border-color: $btn-orange-bg-color;

    &.btn-empty {
      background-color: transparent;
      color: $btn-orange-bg-color;
    }

    &:hover {
      color: $btn-orange-hover-text-color;
      background-color: $btn-orange-hover-bg-color;
      border-color: $btn-orange-hover-bg-color;
    }
  }

  &.btn-white {
    color: $btn-white-text-color;
    background-color: $btn-white-bg-color;
    border-color: $btn-white-bg-color;

    &.btn-empty {
      background-color: transparent;
      color: $btn-white-bg-color;
    }

    &:hover {
      color: $btn-white-hover-text-color;
      background-color: $btn-white-hover-bg-color;
      border-color: $btn-white-hover-bg-color;
    }
  }

  &.btn-shadow {
    @include froala-box-shadow($btn-shadow);
  }

  &.btn-round {
    @include border-radius(20px);
    min-width: 150px;
  }
}

.btn-toolbar {
  .btn {
    background-color: $btn-orange-bg-color;
    border-color: $btn-orange-bg-color;
    padding: 4px 12px;

    &.active {
      background-color: gray !important;
      border-color: gray;
    }
  }
}

#placeplayer {
  .btn {
    padding: 3px 10px;
    background-color: $btn-orange-bg-color;
    border-color: $btn-orange-bg-color;

    &.active {
      background-color: gray !important;
      border-color: gray;
    }
  }
}
